body {
    margin: 0;
    padding: 0;
    /* background-image: url("login.jpg"); */
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
  }
  
  .wrapper {
    display: flex; 
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("d:\reviewproject\reactapp\src\components\login.jpg");
    background-size: cover; 
    background-position: center;  
  }
  
  form {
    background: white;
    padding: 30px; /* Increased padding */
    border-radius: 10px;
    box-shadow: 0 0 10px black; /* Added box shadow with black color */
    width: 400px; /* Increased width */
    text-align: center;
    background-color: white;
    margin-left: 600px;  
  }
  
  h1 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .input-box {
    margin-bottom: 30px; /* Increased margin */ 
  }
  
  input {
    width: 100%; 
    padding: 18px; /* Increased padding */
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 18px; /* Increased font size */  
  }
  
  .remember-forgot {
    font-size: 12px;
    text-align: right;
    padding-bottom: 20px;
  }
  
  button {
    background-color:  hsla(241, 63%, 15%, 1);
    color: white; 
    padding: 10px 50px;
    border: none;
    border-radius: 4px;
    cursor: pointer;  
  }
  
  button:hover {
    background-color:black;
  }
  
  .register-link {
    font-size: 14px;   
  }
  
  .register-link a {
    color:  hsla(241, 63%, 15%, 1);
    text-decoration: none;
  }
  
  .register-link a:hover {
    text-decoration: underline; 
  }
  .remember-forgot{
    font-size: 18px;
  }
  .register-link{
    font-size: 18px;
  }
  .nav__link{
    color: white;
  }